/*$titles-font-size: 18px;
$titles-line-height: 26px;
$descriptions-font-size: 14px;
$descriptions-line-height: 21px;
$description-text: #333333;*/
/*-----------------------------------------------
          Переменные для фоновых цветов
-------------------------------------------------*/
$bg-lightblue: #81b3d2;
$bg-darkblue: #669ec0;
$bg-darkerblue: #5496bd;
$bg-greyishblue: #5c6870;
$bg-blueishgrey: #4c6170;
$bg-white: #ffffff;
$bg-whitegreyish: #f2f2f2;
$bg-lightgrey: #eeeeee;
$bg-darkishgrey: #dbdbdb;
$bg-lightlydarkgrey: #d5d5d5;
$bg-darkgrey: #e6e6e6;
$bg-palegrey: #e5e5e5;
$bg-darkergrey: #333333;
$bg-brownish-grey: #766357;
$bg-brown: #604e43;
$bg-black: #000000;
$bg-pinkyred: #e74246;

/*-----------------------------------------------
              Переменные для шрифтов
-------------------------------------------------*/
$font-size-even-larger: 30px;
$font-size-largest: 21px;
$font-size-big: 18px;
$font-size-medium: 14px;
$line-height-largest: 40px;
$line-height-big: 26px;
$line-height-medium: 24px;
$line-height-small: 21px;
$text-lightgrey: #333333;
$text-black: #000000;
$text-white: #ffffff;

/*----------------------------------------------------
            Переменные для задания ширины
-----------------------------------------------------*/
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
