.feature-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 26px;

  text-align: left;

  background-color: $bg-white;
}

.feature-list__item {
  position: relative;

  margin-bottom: 11px;
}

.feature-list__item--housing::before {
  content: "";

  position: absolute;

  top: 6px;
  left: -48px;

  width: 39px;
  height: 37px;

  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature-list__item--souvenir::before {
  content: "";

  position: absolute;

  top: 6px;
  left: -45px;

  width: 39px;
  height: 37px;

  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature-list__item--food::before {
  content: "";

  position: absolute;

  top: 11px;
  left: -51px;

  width: 39px;
  height: 37px;

  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature-list__text-transposition {
  display: none;
}

.feature-list__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  margin: 0;
  margin-top: 15px;
}

.feature-list__description {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: 400;
  color: $text-lightgrey;

  width: 208px;

  margin: 0;
  margin-top: 16px;
}

@media (min-width: $tablet-width) {
  .feature-list {
    flex-direction: row;

    width: 100%;
    min-height: 303px;

    text-align: center;
  }

  .feature-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 33.3%;
  }

  .feature-list__title {
    font-size: $font-size-largest;

    margin-top: 0;
    margin-bottom: 15px;
  }

  .feature-list__description {
    width: 162px;

    margin-top: 6px;
    margin-bottom: 0;
  }

  .feature-list__item--housing {
    order: 1;
  }

  .feature-list__item--souvenir {
    order: 3;
  }

  .feature-list__item--food {
    order: 2;
  }

  .feature-list__item--housing::before {
    position: static;
    margin-top: 60px;
    margin-bottom: 27px;

    width: 75px;
    height: 72px;
  }

  .feature-list__item--souvenir::before {
    position: static;
    margin-top: 56px;
    margin-bottom: 27px;


    width: 68px;
    height: 76px;
  }

  .feature-list__item--food::before {
    position: static;
    margin-top: 65px;
    margin-bottom: 22px;

    width: 75px;
    height: 72px;
  }
}

@media (min-width: $desktop-width) {
  .feature-list {
    width: 1200px;
  }

  .feature-list__item {
    justify-content: flex-start;
    width: 400px;
  }

  .feature-list__item--housing::before {
    margin-top: 59px;
    width: 75px;
    height: 73px;
  }

  .feature-list__item--souvenir::before {
    margin-top: 56px;
    width: 66px;
    height: 76px;
  }

  .feature-list__item--food::before {
    margin-top: 63px;
    margin-bottom: 25px;
    width: 75px;
    height: 72px;
  }

  .feature-list__text-transposition {
    display: block;
  }

  .feature-list__title {
    margin-top: 0;
    margin-bottom: 21px;
  }

  .feature-list__description {
    width: 290px;

    margin-bottom: 0;
    margin-top: 0;
  }
}
