.popup-failure {
  display: none;

  position: fixed;

  width: 320px;
  height: 280px;

  bottom: 350px;
  left: 50%;
  margin-left: -160px;

  padding-top: 30px;
  padding-bottom: 25px;

  background-color: $bg-white;

  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup-failure__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  text-align: center;

  margin-bottom: 20px;
}

.popup-failure__description {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400;
  color: $text-lightgrey;

  text-align: center;

  width: 220px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.popup-failure__button {
  width: 180px;
  margin-left: 70px;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .popup-failure {
    width: 400px;

    margin-left: -200px;
  }

  .popup-failure__button {
    margin-left: 110px;
  }
}

@media (min-width: $desktop-width) {
  .popup-failure {
    width: 400px;

    margin-left: -200px;
  }
}
